.price-section {
  padding-top: 20vw;
}
.projects-section {
  display: flex;
  flex-direction: column;
}
.project-item {
    padding-left: 15vw;
    padding-right: 15vw;
}
.plan-lite-text {
    color: rgb(51, 123, 51);
}
.b .plan-lite-text {
    color: rgb(51, 123, 51);
}

@media (min-width: 768px) {
    .projects-section {
        display: flex;
        flex-direction: row;
    }
    .project-item {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}